div.view {
    margin: 10px;
    position: relative;
}
div.mass {
    position: absolute;
    width: 40px;
    height: 40px;
}
div.wall {
    font-size: x-small;
    color: #88f;
}
div.parts {
    position: absolute;
}
div.view input {
    width: 30px;

    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
div.bordered {
    position: relative;
    border: 1px solid #aaa;
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
}
div.bordered div.bordered_title {
    position: absolute;
    background: white;
    top: -5px;
    left: 5px;
    font-size: xx-small;
}
.eraser {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaElEQVQoU5VQWw7AIAgrJ9n9j7VdxKXLagoaE/zDviiB5gvxBzACmLP7OPYR+CFCFQl7AFxApIQqqmTiaQURlMJZzmbWa70tebI4rnT/x2DZZaVdQQlIliidtRYksYpmFAGP9h6OtUu/EJclDRVRtP4AAAAASUVORK5CYII=");
}
